<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <meta name="description" content = "Киномонстр - это портал о кино" />
    <meta name="keywords" content = "фильмы, фильмы онлайн, hd" />
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
<div class="main">
    <div class="header">
        <div class="logo-signButton-flex">
            <div class="logo">
                <div class="logo_text">
                    <h1><a href = "/">КиноМонстр</a></h1>
                    <h2>Кино - наша страсть!</h2>
                </div>
            </div>
        </div>

        <div class="menubar">
            <ul class="menu">
                <li class="selected"><a href = "Main.html">Главная</a></li>
                <li><a href = "/layout/films.html">Фильмы</a></li>
                <li><a href = "/layout/serials.html">Сериалы</a></li>
                <li><a href = "/layout/rating.html">Рейтинг фильмов/сериалов</a></li>
                <li><a href = "/layout/contact.html">Контакты</a></li>
            </ul>

        </div>
    </div>

    <div class="site_content inter">
        <h2>Топ-10 интересных фактов о фильме "Облачный атлас"</h2>

        <div class="posts_content">
            <p>
                Факт 1. Снимался фильм “Облачный атлас” в основном в Германии, и стал самым дорогостоящей кинолентой, когда-либо снятым в этой стране. Общий его бюджет превысил 102 миллиона долларов. При этом режиссёры Вачовски и Тыквер снимали разные эпизоды в одно и то же время.
                <br>
                <br>
                Факт 2. Актёру Хью Уивингу, прославившемуся после ролей агента Смита в “Матрице” и Элронда во “Властелине Колец”, в “Облачном атласе” достались роли отрицательных персонажей. Чему он был только рад, так как, по его мнению, негодяев играть интереснее. Сам Уивинг, кстати, ещё до того, как его пригласили играть в этом фильме, уже трижды прочитал одноимённую книгу, придя от неё в восторг. Поэтому приглашение принять участие в её экранизации он принял незамедлительно.
                <br>
                <br>
                Факт 3. Так как все основные актёры играют сразу множество ролей, огромное значение создатели фильма уделяли гриму. Причём для того, чтобы добиться убедительного перевоплощения, актёрам приходилось каждый день по много часов сидеть неподвижно, пока над ними работали гримёры. Самым сложным для них персонажем “Облачного атласа” стала Иокаста. Холли Берри приходилось терпеть по 6-8 часов, пока её гримировали.
                <br>
                <br>
                Факт 4. На момент создания “Облачный атлас” был самым дорогим независимым кинофильмом в истории. Часть бюджета была выделена компанией Warner Brothers, но всё равно основное финансирование было получено из независимых источников.
                <br>
                <br>
                Факт 5. В киноленте присутствует 58 персонажей, не считая статистов. Большую часть из них сыграли 9 основных актёров. Для Тома Хэнкса, кстати, роль пастуха Захарии стала эмоционально очень сложной, и из-за этого в съёмочном процессе даже приходилось делать перерывы, чтобы актёр успокоился.
                <br>
                <br>
                Факт 6. Идея снять фильм “Облачный атлас” пришла в голову Лане Вачовски, когда Натали Портман ещё в 2005 году подарила ей одноимённую книгу. Но процесс обдумывания и подготовки занял много лет, так что экранизация состоялась далеко не сразу. Причём роль Сонми-451 должна была сыграть именно Портман, но из-за беременности ей пришлось отказаться в последний момент.
                <br>
                <br>
                Факт 7. Критики встретили киноленту со сдержанным одобрением. А вот сам Том Хэнкс, который известен тем, что не любит смотреть фильмы со своим участием, признался, что “Облачный атлас” для него стал исключением, и он его время от времени пересматривает с большим удовольствием.
                <br>
                <br>
                Факт 8. Дэвид Митчелл, автор литературного романа “Облачный атлас”, который лёг в основу фильма, сыграл в одной из его историй. Увидеть его можно в эпизодической роли борца за свободу в “Откровение Сонми-451”, в тот момент, когда девушка-фабрикант обращается к людям, а солдаты врываются в помещение, обороняемое повстанцами.
                <br>
                <br>
                Факт 9. Номер фабриканта Сонми — 451. Такой же номер и у квартиры Луизы Рей, что можно увидеть в эпизоде “Периоды полураспада”. Этот номер является отсылкой к роману “451 по Фаренгейту” Рэя Бредбери. В этой классической антиутопии описывается мир, в котором пожарные занимаются тем, что сжигают книги, а 451 градус по шкале Фаренгейта — это температура горения бумаги.
                <br>
                <br>
                Факт 10. Издатель Тимоти Кавендиш получил такую фамилию не просто так. В городке Кавендиш, что в Вермонте, одно время жил в изгнании опальный писатель Александр Солженицын. С его творчеством знакомится Сонми-451 в другом эпизоде.
            </p>
        </div>
    </div>


    <div class="footer">
        <p>
            <a href="/index.html">Главная</a> |
            <a href="/layout/films.html">Фильмы</a> |
            <a href="/layout/serials.html">Сериалы</a> |
            <a href="/layout/rating.html">Рейтинг фильмов</a> |
            <a href="/layout/contact.html">Контакты</a>
        </p>
        <p>wh-db.com 2015</p>
    </div>

</div>




</body>
</html>