<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <meta name="description" content = "Киномонстр - это портал о кино" />
    <meta name="keywords" content = "фильмы, фильмы онлайн, hd" />
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
<div class="main">
    <div class="header">
        <div class="logo-signButton-flex">
            <div class="logo">
                <div class="logo_text">
                    <h1><a href = "/">КиноМонстр</a></h1>
                    <h2>Кино - наша страсть!</h2>
                </div>
            </div>
        </div>

        <div class="menubar">
            <ul class="menu">
                <li class="selected"><a href = "Main.html">Главная</a></li>
                <li><a href = "/layout/films.html">Фильмы</a></li>
                <li><a href = "/layout/serials.html">Сериалы</a></li>
                <li><a href = "/layout/rating.html">Рейтинг фильмов/сериалов</a></li>
                <li><a href = "/layout/contact.html">Контакты</a></li>
            </ul>

        </div>
    </div>

    <div class="site_content inter">
        <h2>Как снимали Интерстеллар</h2>

        <div class="posts_content">
            <p>
                Работавшие над «Интерстелларом» отмечали фанатичный энтузиазм режиссер Кристофер Нолана. Он ничего не делал вполсилы и умел заразить своим рвением других. Джессика Честейн, сыгравшая дочку главного героя-летчика, например, вспоминала, что во время съемок у нее было чувство, что просто очень не хочется расстраивать Нолана, потому она не могла позволить себе капризничать или отказываться от какой-то работы.
                <br>
                <br>
                Непосредственно съемки «Интерстеллара» заняли четыре месяца. При этом Кристофер Нолан любит работать быстро. Стандартный съемочный день у него длился 12 часов: с 7 утра до 7 вечера с перерывом на ланч. Режиссер практически не отвлекался от работы и, если его мучила жажда, то доставал флягу с чаем из кармана, не отрывая взгляд от происходящего на площадке. Окружающие не сразу узнали, что содержится в фляге, и актера Майкл Кейн (профессор Брэнд) однажды даже спросил у Нолана: «Там что, водка?».
                <br>
                <br>
                Показателен такой случай со съемок. Пейзажи для одной из планет, где высаживаются герои, были найдены в Исландии. Туда весной 2013 года Кристофер Нолан поехал на разведку вместе с командой. В то место, где режиссер рассчитывал найти подходящую ледяную поверхность, было невозможно проехать на авто. Нолану и его товарищам пришлось четыре-пять километров пройти пешком. Пока они не обнаружили озеро, центр которого обледенел. Все стояли и смотрели на водоем, как Нолан вдруг разулся, снял носки и зашел в воду. Его команда минуту помедлила и последовала примеру режиссера, мало что понимая. Оказалось, что режиссер хотел ближе рассмотреть льдину, которая в итоге так и не подошла для съемок. Но ноги у съемочной группы были промочены.
                <br>
                <br>
                Секретность, в условиях которой готовился «Интерстеллар» стала притчей во языцех. Не всем актерам было разрешено оставить у себя сценарий после ознакомительного прочтения. Кейну, напротив, оставили распечатки, но на каждой странице было напечатано его имя, чтобы в случае утечки текста, можно было понять, с чъего экземпляра сделали копию.
            </p>
        </div>
    </div>


    <div class="footer">
        <p>
            <a href="/index.html">Главная</a> |
            <a href="/layout/films.html">Фильмы</a> |
            <a href="/layout/serials.html">Сериалы</a> |
            <a href="/layout/rating.html">Рейтинг фильмов</a> |
            <a href="/layout/contact.html">Контакты</a>
        </p>
        <p>wh-db.com 2015</p>
    </div>

    </div>

</body>
</html>

