*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.form-style-5 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.form-style-5 h2 {
    color: darkslateblue;
}

form {
    width: 400px;
}

label {
    margin-bottom: 15px;
    padding: 10px 0;
}

.input {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    border: 1px solid #ccc;
    outline: 0;
    margin: 6px auto;
}

textarea {
    width: 400px;
    height: 300px;
    border: 1px solid #ccc;
    outline: 0;
}

textarea.error {
    border-color: red;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 1),
    -23px 0 20px -23px rgba(0, 0, 0, .8),
    23px 0 20px -23px rgba(0, 0, 0, .8),
    0 0 40px rgba(0, 0, 0, .1) inset;
}

.input.error {
    border-color: red;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 1),
    -23px 0 20px -23px rgba(0, 0, 0, .8),
    23px 0 20px -23px rgba(0, 0, 0, .8),
    0 0 40px rgba(0, 0, 0, .1) inset;
}

.input::placeholder {
    color: #ccc;
}

.btn {
    height: 40px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7268ad;
    border: 0;
    width: 100%;
    outline: 0;
    cursor: pointer;
    color: #fff;
    margin-top: 20px;
}

.sendReview-form textarea {
    width: 516px;
    height: 200px;
    border: solid 1px #c3c3c3;
    margin-bottom: 2%;
}