* {
	margin: 0;
	padding: 0;
}

html {
	width: 100%;
	max-width: 100%;
	overflow-x: hidden;
}

body {
	font-size: 1.2em;
	background-color: #fff;
	color: #555;
	width: 100%;
	max-width: 100%;
	overflow-x: hidden;
	min-width: 1200px;
}

p {
	padding: 0 0 20px 0;
	line-height: 1.7em;
}

input[type="text"], input[type="password"], input[type="search"] {
	color: #5d5d5d;
	width: 60%;
	padding: 8px;
}

h1, h2 {
	font: normal 170% 'century gothic', arial;
	margin: 0 0 15px 0;
	padding: 15px 0 5px 0;
	color: #000;
}

h2 {
	font-size: 140%;
}

input, textarea{
	outline: none;
	border: solid 1px #f2f2f2;
}

a, a:hover {
	outline: none;
	text-decoration: underline;
	color: #aeb002;
}

ul {
	margin: 2px 0 22px 17px;
}

ul li {
	margin: 0 0 6px 0;
	padding: 0 0 4px 5px;
	line-height: 1.5em;
	display: inline;
}

.main, .logo, .menubar, .site_content, .footer, .sign-button {
	margin-left: auto;
	margin-right: auto;
}

.site_content {
	width: 1000px;
	overflow: hidden;
	margin: 20px auto 0 auto;
	background-color: white;
}

.sidebar_container {
	float: right;
	width: 224px;
}

.sidebar {
	float: right;
	width: 222px;
	padding: 5%;
	margin: 0 0 16px 0;
	border: solid 1px #f2f2f2;
	border-radius: 5%;
	background-color: #f9f9f9;
}

html .signin, .signup {
	background-color: darkslateblue;
}

.signin, .signup {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.signin .sidebar, .signup .sidebar {
	width: 500px;
	height: 200px;
}

.btn {
	padding: 8px;
	background-color: white;
	cursor: pointer;
}

.sidebar h2 {
	color: #136cb2;
}

.lables_passreg_text {
	font-size: 0.7em;
	margin-top: 3%;
	margin-left: 2%;
}

.sidebar ul {
	margin: 0;
	display: flex;
	flex-direction: column;
}

.sidebar ul li {
	list-style-type: none;
	margin: 0 0 0 0;
}

.sidebar .rating_sidebar {
	float: right;
}

.content {
	text-align: left;
	width: 620px;
	padding: 0 0 0 5px;
	float: left;
}

li {
	list-style-type: none;
}

.hide {
	display: none;
}

.search-form {
	width: 230px;
	height: 40px;
	background-color: rgba(42,29,27,0.11);
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 120px;
}

.search li {
	color: black;
	text-align: center;
	font-size: 18px;
	margin-left: 20px;
}

.feedback {
	margin-top: 150px;
	display: flex;
	flex-direction: column;
	margin-bottom: 200px;
}

.feedback a {
	color: black;
	font-weight: bold;
	margin-bottom: 10px;
}

.content a {
	text-decoration: none;
}

.films_block {
	margin-bottom: 5%;
	display: flex;
	padding: 0 20px;
}

.slide img {
	height: 100%;
	border-radius: 5px;
	border: solid 5px #dad7d5;
	width: 100%;
	cursor: pointer;
	flex: 1;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	transition: all 500ms ease-in-out;
}

.slide.active {
	flex: 10;
}

.posts .posts_content {
	font-size: 0.8em;
}

.info_film_page {
	margin-top: 2%;
	margin-bottom: 4%;
}

.info_film_page .label {
	font-size: 1.2em;
}

.info_film_page .value {
	font-size: 1em;
	color: #49945a;
	margin-right: 3%;
}

.description_film {
	margin-bottom: 15%;
}

.description_film img {
	float: left;
	margin-right: 2%;
	border-radius: 5px;
	border: solid 5px #dad7d5;
}

.reviews {
	margin-bottom: 4%;
	font-size: 0.9em;
}

.reviews .review_name {
	background-color: #7268ad;
	color: white;
	padding: 1%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.reviews .review_text {
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 2%;
}

.send {
	margin-bottom: 4%;
	margin-top: 10%;
}

.send input [type="text"], textarea {
	border: solid 1px #c3c3c3;
	margin-bottom: 2%;
}

.send iput[type="text"] {
	width: 98%;
}

.send textarea {
	width: 624px;
	height: 100px;
}

.send input[type="submit"] {
	background-color: #7268ad;
	padding: 3%;
	color: white;
	border-radius: 5px;
}

.send_contact input[type="text"] {
	width: 500px;
}

.send_contact textarea {
	width: 516px;
}

.info_film {
	margin-bottom: 5%;
	background-color: #f9f9f9;
	padding: 5%;
	height: 270px;
}

.info_film img {
	float: left;
	margin-right: 2%;
	border-radius: 5px;
	border: solid 5px #dad7d5;
	width: 25%;
}

.button {
	background-color: #7268ad;
	padding: 2%;
	color: white;
	border-radius: 5px;
	float: right;
	margin-top: 5%;
	clear: both;
	font-size: 0.8em;
}

.button a {
	color: white;
}

table {
	width: 100%;
	border: solid 1px #f4f4f4;
	margin-top: 30px;
	margin-bottom: 90px;
}

td {
	padding: 2%;
	border: solid 1px #f4f4f4;
}

td img {
	width: 60px;
	vertical-align: middle;
}

.center {
	text-align: center;
}

.footer {
	width: 100%;
	height: 100px;
	padding: 28px 0 5px 0;
	text-align: center;
	background-color: darkslateblue;
	color: #a8aa94;
	margin-left: 0px;
	margin-right: 0px;
	min-width: 900px;
}

.footer a {
	color: #a8aa94;
	text-decoration: none;
}

.footer a:hover {
	color: #fff;
	text-decoration: none;
}

.footer p {
	padding: 0 0 10px 0;
}

.inter h2 {
	color: #aeb002;
	text-align: center;
}

.inter{
	margin-top: 40px;
	margin-bottom: 40px;
}
